<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="_head :: common_head(~{::title},~{::link})">
    <link rel="stylesheet" type="text/css" th:href="@{/resources/css/blog-post.css}">
    <title th:text="${blogPost.title}"></title>
</head>

<body>
    <header>
        <nav th:replace="_nav :: common_nav"></nav>
    </header>

    <article>
        <time th:if="${blogPost.publishingDate != null}"
              th:text="${#temporals.format(blogPost.publishingDate, 'MMMM dd, YYYY')}">
        </time>
        <h1 th:text="${blogPost.title}"></h1>
        <h3 th:if="${blogPost.subtitle != null}" th:text="${blogPost.subtitle}"></h3>

        <div class="content" th:utext="${blogPost.content}"></div>
    </article>

    <footer th:replace="_footer :: common_footer"></footer>
</body>
</html>