<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="_head :: common_head(~{::title}, ~{::link})">
        <title>Blog Posts Management</title>
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/blog-posts-management.css}">
    </head>

    <body>
        <nav th:replace="_management_nav :: management_nav"></nav>

        <div class="row blog-posts-header">
            <div class="col span-1-of-2">
                <h1>Blog Posts</h1>
            </div>

            <div class="col span-1-of-2 new-blog-post-btn">
                <a href="new-edit-post.html" class="btn btn-primary">New &nbsp;<i class="fas fa-plus"></i></a>
            </div>
        </div>

        <div class="row blog-post-item">
            <div class="col span-8-of-10">
                <h2><a href="new-edit-blog-post.html">Partial Updates with Spring Boot</a></h2>
                <time>September 23, 2020</time>
            </div>

            <div class="col span-2-of-10 blog-post-item-actions">
                <a href="new-edit-post.html"><i class="fas fa-edit edit-article-icon"></i></a>
                <i class="fas fa-trash delete-article-icon"></i>
            </div>
        </div>

        <div class="row blog-post-item">
            <div class="col span-8-of-10">
                <h2><a href="new-edit-blog-post.html">Partial Updates with Spring Boot</a></h2>
                <time>September 23, 2020</time>
            </div>

            <div class="col span-2-of-10 blog-post-item-actions">
                <a href="new-edit-post.html"><i class="fas fa-edit edit-article-icon"></i></a>
                <i class="fas fa-trash delete-article-icon"></i>
            </div>
        </div>

        <div class="row blog-post-item">
            <div class="col span-8-of-10 blog-post-item-title">
                <h2><a href="new-edit-blog-post.html">Partial Updates with Spring Boot</a></h2>
                <time>September 23, 2020</time>
            </div>

            <div class="col span-2-of-10 blog-post-item-actions">
                <a href="new-edit-post.html"><i class="fas fa-edit edit-article-icon"></i></a>
                <i class="fas fa-trash delete-article-icon"></i>
            </div>
        </div>

        <div class="posts-page-navigator row">
            <a class="btn btn-primary" href="#"><i class="fas fa-arrow-left"></i></a>
            Page 1
            <a class="btn btn-primary" href="#"><i class="fas fa-arrow-right"></i></a>
        </div>

        <footer>
            <div class="row">
                <div class="col span-1-of-2">
                    <p>&copy; Henrick Kakutalua (Henry-Keys)</p>
                </div>
                <div class="col span-1-of-2">
                    <ul class="social-media-links">
                        <li><a href="https://github.com/Henry-Keys" target="blank"><i class="fab fa-github"></i></a></li>
                        <li><a href="https://medium.com/@henrickkakutalua" target="blank"><i class="fab fa-medium"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/henrick-kakutalua" target="blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://twitter.com/henrykeys96" target="blank"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>