<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="_head :: common_head(~{::title}, ~{::link})">
        <title>Blog Posts Management</title>
        <link rel="stylesheet" type="text/css" th:href="@{/resources/css/blog-posts-management.css}">
    </head>

    <body>
        <nav th:replace="_management_nav :: management_nav"></nav>

        <div class="row blog-posts-header">
            <div class="col span-1-of-2">
                <h1>Blog Posts</h1>
            </div>

            <div class="col span-1-of-2 new-blog-post-btn">
                <a th:href="@{/management/blog-posts/new}" class="btn btn-primary">New &nbsp;<i class="fas fa-plus"></i></a>
            </div>
        </div>

        <div class="row blog-post-item" th:each="blogPost : ${blogPosts}">
            <div class="row blog-post-item">
                <div class="col span-8-of-10">
                    <h2>
                        <a th:href="@{/management/blog-posts/{blogPostId}/edit(blogPostId = ${blogPost.id})}"
                           th:text="${blogPost.title}">
                        </a>
                    </h2>
                    <time th:text="${blogPost.creationDate}"></time>
                </div>

                <div class="col span-2-of-10 blog-post-item-actions">
                    <a th:href="@{/management/blog-posts/{blogPostId}/edit(blogPostId = ${blogPost.id})}">
                        <i class="fas fa-edit edit-article-icon"></i>
                    </a>
                    <a th:href="@{/management/blog-posts/{blogPostId}/delete(blogPostId = ${blogPost.id})}">
                        <i class="fas fa-trash delete-article-icon"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="posts-page-navigator row">
            <a th:if="${!isFirstPage}"
               th:href="@{/management/blog-posts(page=${pageNumber - 1})}"
               class="btn btn-primary">
                <i class="fas fa-arrow-left"></i>
            </a>

            <span th:text="'Page ' + ${pageNumber + 1}"></span>

            <a th:if="${!isLastPage}"
               th:href="@{/management/blog-posts(page=${pageNumber + 1})}"
               class="btn btn-primary">
                <i class="fas fa-arrow-right"></i>
            </a>
        </div>

        <footer th:replace="_footer :: common_footer"></footer>
    </body>
</html>